BODY
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
P
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
TD
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
A.ute_link
{
    TEXT-DECORATION: none
}
A.ute_link:visited
{
    TEXT-DECORATION: none
}
A.ute_link:active
{
    TEXT-DECORATION: none
}
A.ute_link:hover
{
    TEXT-DECORATION: underline
}
.ute_headline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20pt
}
.ute_subheadline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt
}
.ute_table_list
{
    FONT-SIZE: 10pt;
    LIST-STYLE-TYPE: square
}
.ute_outer_text
{
    PADDING-RIGHT: 2pt;
    PADDING-LEFT: 2pt;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2pt;
    PADDING-TOP: 2pt
}
.ute_powered_by
{
    PADDING-RIGHT: 2pt;
    PADDING-LEFT: 2pt;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2pt;
    PADDING-TOP: 2pt;
    TEXT-ALIGN: right
}
.ute_table
{
    BACKGROUND-IMAGE: none;
    WIDTH: 100%;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: gray
}
.ute_form
{
    BACKGROUND: #ffffff
}
.ute_header
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4pt;
    TEXT-ALIGN: left
}
.ute_header_pk
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4pt;
    TEXT-ALIGN: left
}
.ute_header_btn
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4pt;
    TEXT-ALIGN: left
}
.ute_header
{
    FONT-WEIGHT: bold;
    BACKGROUND: #d4d0c8
}
.ute_header_pk
{
    FONT-WEIGHT: bold;
    BACKGROUND: #d4d0c8;
    FONT-STYLE: italic
}
.ute_toolbar
{
    PADDING-RIGHT: 2pt;
    PADDING-LEFT: 2pt;
    FONT-SIZE: 8pt;
    BACKGROUND: #d4d0c8;
    PADDING-BOTTOM: 2pt;
    PADDING-TOP: 2pt
}
.ute_navigation
{
    PADDING-RIGHT: 2pt;
    PADDING-LEFT: 2pt;
    FONT-SIZE: 8pt;
    BACKGROUND: #f4f4f4;
    PADDING-BOTTOM: 2pt;
    PADDING-TOP: 2pt
}
.ute_navigation_active
{
    PADDING-RIGHT: 2pt;
    PADDING-LEFT: 2pt;
    FONT-SIZE: 8pt;
    BACKGROUND: #f4f4f4;
    PADDING-BOTTOM: 2pt;
    PADDING-TOP: 2pt
}
.ute_navigation_passive
{
    PADDING-RIGHT: 2pt;
    PADDING-LEFT: 2pt;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 2pt;
    COLOR: gray;
    PADDING-TOP: 2pt;
    BACKGROUND-REPEAT: repeat
}
.ute_navigation_active
{
    PADDING-RIGHT: 0pt;
    PADDING-LEFT: 0pt;
    PADDING-BOTTOM: 0pt;
    COLOR: red;
    PADDING-TOP: 0pt
}
.ute_navigation_passive
{
    PADDING-RIGHT: 0pt;
    PADDING-LEFT: 0pt;
    PADDING-BOTTOM: 0pt;
    COLOR: gray;
    PADDING-TOP: 0pt
}
.ute_form_value
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    BACKGROUND: #f4f4f4;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt
}
.ute_form_error
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: aqua
}
.ute_form_def
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    BACKGROUND: #f4f4f4;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt
}
.ute_form_error
{
    FONT-WEIGHT: bold;
    BACKGROUND: #ff0000;
    COLOR: white
}
.ute_form_def
{
    FONT-SIZE: xx-small
}
.ute_btn_ok
{
    FONT-SIZE: x-small;
    BACKGROUND: silver;
    WIDTH: 7em;
    COLOR: black
}
.ute_btn_cancel
{
    FONT-SIZE: x-small;
    BACKGROUND: silver;
    WIDTH: 7em;
    COLOR: black
}
.ute_content_even
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt;
    BACKGROUND-COLOR: gold;
    TEXT-ALIGN: left
}
.ute_content_even_pk
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt;
    BACKGROUND-COLOR: gold;
    TEXT-ALIGN: left
}
.ute_content_odd
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt;
    BACKGROUND-COLOR: ivory;
    TEXT-ALIGN: left
}
.ute_content_odd_pk
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    PADDING-TOP: 4pt;
    BACKGROUND-COLOR: ivory;
    TEXT-ALIGN: left
}
