vti_encoding:SR|utf8-nl
vti_author:SR|papaioannou
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|13 Jul 2005 13:46:55 +0300
vti_filesize:IX|2316
vti_modifiedby:SR|papaioannou
vti_backlinkinfo:VX|myadmin/default.asp myadmin/admin.asp myadmin/invalidlogin.asp
vti_cacheddtm:TX|13 Jul 2005 15:51:32 +0300
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|13 Jul 2005 13:46:55 +0300
vti_extenderversion:SR|3.0.2.926
vti_timelastmodified:TR|13 Jul 2005 13:46:55 +0300
